/* General body styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Container to centre everything vertically */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between textarea and controls */
}

/* Textarea styling */
textarea {
    width: 700px; /* Wider textarea */
    height: 50px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: #171414;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    resize: none;
}

textarea:hover {
    background-color: lightyellow;
    color: #171414;
}

/* Controls container */
.controls {
    display: flex;
    gap: 10px; /* Space between input and button */
}

/* Day input field styling */
input[type="number"] {
    width: 80px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #171414;
    color: white;
    transition: 0.5s;
}
input[type="number"]:hover {
    background-color: lightyellow;
    color: #171414;
}
button {
    height: 40px;
    width: 100px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #171414;
    color: white;
    transition: 0.5s;
}

button:hover {
    background-color: lightgreen;
    color: #171414;
}
