body
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1px;
}
textarea
{
	height: 25px;
	width: 500px;
}
button
{
	height: 30px;
	width: 100px;
}
textarea, button
{
	font-size: 18px;
	background-color: #171414;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 0.7s;
	text-align: center;
	padding-left: 1px;
	padding-right: 1px;
}
#question:hover
{
	background-color: lightyellow;
	color: #171414;
}
button:hover
{
	background-color: lightgreen;
	color: #171414;
}


